{
  "mycustompokemon": {
    "num": -1,
    "name": "MyCustomPokemon",
    "types": ["Fire", "Dragon"],
    "baseStats": { "hp": 120, "atk": 150, "def": 90, "spa": 100, "spd": 90, "spe": 110 },
    "abilities": { "0": "Levitate" },
    "weightkg": 200
  },
  "waterpikachu": {
    "num": -2,
    "name": "WaterPikachu",
    "types": ["Water", "Electric"],
    "baseStats": { "hp": 50, "atk": 65, "def": 50, "spa": 65, "spd": 60, "spe": 100 },
    "abilities": { "0": "Swift Swim" },
    "weightkg": 6.0
  }
}